:root {
  font-family: Consolas, Monaco, Menlo, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --chakra-fonts-heading: Consolas, Monaco, Menlo, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --chakra-fonts-body: Consolas, Monaco, Menlo, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: block;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

[data-scope="select"][data-part="positioner"] {
  z-index: 1500 !important;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #212121;
    background-color: #ffffff;
  }

}

@keyframes twinkle {
  0%, 100% {
    filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 4px #0ff);
    opacity: 0.85;
    transform: scale(1);
  }
  50% {
    filter: drop-shadow(0 0 6px #fff) drop-shadow(0 0 12px #0ff);
    opacity: 1;
    transform: scale(1.03); /* subtle pulse */
  }
}


